<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Account-Validierung | ffa</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <style>
	
	body{
		background-color: #ebebf0;
		display: flex; 
		align-items: center;
		justify-content: center;
		height: 100vh;
		font-family: Helvetica;
	}
	
	h1{
		color: #972c30;
		
	}
	
	.container{
		min-width: 300px; 
		min-height: 300px;
		max-width: 350px;
		background-color: white;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		padding: 20px;
	}
	
	.footer{
		margin-top: 50px;
		text-align: center;
		
	}
	
	a, .error{
		color: #972c30;
	}
	
	.success{
		color: #76b812;
		font-weight: 600;
	}
	
  
  </style>
</head>

<body>

  <div class="container">
	<h1><a href="https://facharztpraxis-fuer-allgemeinmedizin.de">Facharztpraxis für Allgemeinmedizin</a></h1>
	<h4>Account Validierung</h4> 
	  Hallo, vielen Dank - Ihr Konto konnte leider nicht validiert werden, der  <span class="error">Link ist ungültig</span>. Bitte gehen Sie zurück in die App und fordern Sie einen neuen an. <br/><br/>

	  Ihr Praxis-Team
	  
	  <div class="footer">
		<p><a href="https://facharztpraxis-fuer-allgemeinmedizin.de/impressum.html">Impressum</a> | <a href="https://facharztpraxis-fuer-allgemeinmedizin.de/privacy.html">Datenschutz</a></p>
	  </div>
  </div>

</body>

</html>