

<mat-vertical-stepper [linear]="isLinear" #stepper  [class.submitted]="flagSubmitted">
  <mat-step [stepControl]="baseInfoForm">
    <form [formGroup]="baseInfoForm" class="baseForm">
      <ng-template matStepLabel>Ihr Anliegen</ng-template>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="patientName" required readonly>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Mobilfunk-Nummer</mat-label>
          <input matInput placeholder="Mobilfunk-Nummer" formControlName="patientMobilePhone" required>
        </mat-form-field>
      </div>

      
    
      <div class="form-group">
          <mat-form-field>
            <mat-label>Anfrageart</mat-label>
            <mat-select  formControlName="appointmentType" required>
              <mat-option *ngFor="let req of appointmentTypes" [value]="req">
              {{req.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="baseInfoForm.get('appointmentType').hasError('required')"  >Bitte wählen Sie eine Anfrageart</mat-error>
          </mat-form-field>
      </div>

      <div class="form-group">
          <mat-form-field>
            <mat-label>Arzt</mat-label>
            <mat-select  formControlName="doc" required>
              <mat-option *ngFor="let doc of availableDocs" [value]="doc">
              {{doc.userName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="baseInfoForm.get('doc').hasError('required')">Sie können einen Arzt wählen.</mat-error>
          </mat-form-field>
      </div>

      <!--
      <div class="form-group">
          <mat-form-field>
            <mat-label>Anfrage-Details</mat-label>
            <textarea  class="appointmentNotes" formControlName="appointmentNotes" required type="text" matInput #messageObj maxlength="1000" placeholder="Bitte teilen Sie uns Details zu Ihrer Anfrage mit, z.B. Hintergrund oder Beschreibung Ihrer Beschwerden."></textarea>
            <mat-hint class="hint" align="end">{{baseInfoForm.value.appointmentNotes.length}} / 1000</mat-hint>
          </mat-form-field>
      </div>
      -->
     
      <div>
        <button mat-button (click)="abort()">Abbrechen</button>
        <button mat-stroked-button matStepperNext (click)="fetchEvents()">Weiter</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="dateTimeForm">

    <div class="evt-loading" *ngIf="evtLoading">
        <mat-spinner></mat-spinner>
    </div>

    <div class="cal-container" *ngIf="!evtLoading">

      <div class="row text-center" >

          <div class="col-md-4">
            <div class="btn-group">
              <div
                class="btn btn-primary"
                mwlCalendarPreviousView
                [daysInWeek]="daysInWeek"
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="fetchEvents()"
              >
                Vorheriger
              </div>
              <div
                class="btn btn-outline-secondary"
                mwlCalendarToday
                [(viewDate)]="viewDate"
              >
                Heute
              </div>
              <div
                class="btn btn-primary"
                mwlCalendarNextView
                [daysInWeek]="daysInWeek"
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="fetchEvents()"
              >
                Nächster
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h3 class="cal-title-dateframe" >{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
            <p class="no-slots" *ngIf="!flagHasSlots">Für diesen Zeitraum sind leider keine Termine verfügbar, bitte wählen Sie einen anderen Zeitraum aus.</p>
          </div>
          <div class="col-md-4">
            
          </div>
          
        </div>
        <div>

          <div *ngIf="flagHasSlots" >
            <ng-container [ngSwitch]="view">
                <mwl-calendar-month-view
                *ngSwitchCase="CalendarView.Month"
                class="appointment-cal"
                [viewDate]="viewDate"
                [events]="events$"
                [locale]="locale"
                [refresh]="refresh"
               
                [activeDayIsOpen]="activeDayIsOpen"
                (dayClicked)="dayClicked($event.day)"
                (eventClicked)="handleEvent('Clicked', $event.event)"
              >
              </mwl-calendar-month-view>

              <mwl-calendar-week-view
                *ngSwitchCase="CalendarView.Week"
                [viewDate]="viewDate"
                [daysInWeek]="daysInWeek"
                
               
                [hourSegments]="6"
                [hourSegmentHeight]="50"
                [locale]="locale"
                [events]="events$"
                [refresh]="refresh"
                (eventClicked)="handleEvent('Clicked', $event.event)"
              >
              </mwl-calendar-week-view>
            </ng-container>
              
            </div>
        </div>
      
    </div>

    <form [formGroup]="dateTimeForm">
      <ng-template matStepLabel>Termin</ng-template>

      <div class="selected-slot" *ngIf="!dateTimeForm.invalid" >

         

          <div class="subtitle">
           
            <button mat-icon-button (click)="removeSlotSelection()">
              <mat-icon class="remove-slot" >delete</mat-icon>
            </button>

            Ihr ausgewählter Terminslot:
          </div>

          <div>
              {{dateTimeForm.get('appointmentDateStart').value | date:'longDate':'de'}} {{dateTimeForm.get('appointmentDateStart').value | date:'shortTime':'de'}}
          </div>

      </div>
      
      <div>
          <button mat-button (click)="abort()">Abbrechen</button>
        <button mat-button matStepperPrevious>Zurück</button>
        <button mat-stroked-button matStepperNext [disabled]="dateTimeForm.invalid">Weiter</button>
      </div>
    </form>

  </mat-step>

  <mat-step [stepControl]="finalForm" >

    <ng-template matStepLabel>Zusammenfassung</ng-template>

    <div class="summary" *ngIf="dateTimeForm.get('appointmentObj').value.doc">

        Sie sind fast fertig:

        <p class="datetime-slot">
            {{dateTimeForm.get('appointmentDateStart').value | date:'longDate':'de'}} {{dateTimeForm.get('appointmentDateStart').value | date:'shortTime':'de'}} 
        </p>

        <div class="form-group">
            <mat-form-field >
                <input required matInput type="text" placeholder="Name" class="form-control" [ngModel]="baseInfoForm.value.patientName" readonly>
                <mat-hint class="hint" >{{baseInfoForm.value.patientEmail}} | {{baseInfoForm.value.patientMobilePhone}}</mat-hint>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field >
                <input required matInput type="text" placeholder="Anfrageart" class="form-control" [ngModel]="baseInfoForm.value.appointmentType.name" readonly>
            </mat-form-field>
        </div>

        
        <div class="form-group">
            <mat-form-field >
                <input required matInput type="text" placeholder="Arzt" class="form-control" [ngModel]="dateTimeForm.get('appointmentObj').value.doc.userName" readonly>
            </mat-form-field>
        </div>
        <!--
        <div class="form-group">
            <mat-form-field>
                <textarea required matInput type="text" placeholder="Details" class="form-control " [ngModel]="baseInfoForm.value.appointmentNotes" readonly></textarea>
            </mat-form-field>
        </div>
        -->
        
       
        <br/>    
        <form [formGroup]="finalForm">
    
            <div class="form-group">
              <div class="form-group">
                  <mat-checkbox  formControlName="acceptTerms" class="acceptTerms" >
                    Ich akzeptiere die <a  target="_blank"  routerLink="/privacy" routerLinkActive="active" >Nutzungsbedingungen</a>
                  </mat-checkbox>
              </div>
            </div>
    
        </form>

    </div>
   

    <div>
      <button mat-button (click)="abort()">Abbrechen</button>
      <button mat-button matStepperPrevious>Zurück</button>
      <button mat-stroked-button color="accent" [disabled]="!finalForm.get('acceptTerms').value" (click)="initiateAppointment()">Termin vereinbaren</button>

    </div>
  </mat-step>

  <mat-step *ngIf="flagSubmitted">

    <ng-template *ngIf="finalForm.get('initiated').value == 'success'" matStepLabel>Bestätigung</ng-template>
    <ng-template *ngIf="finalForm.get('initiated').value != 'success' && flagSubmitted" matStepLabel>Fehler</ng-template>
    

    <div class="success-new-appointment"  *ngIf="finalForm.get('initiated').value == 'success'" >
      <div class="success-icon">
          <mat-icon class="icn" >check_circle_outline</mat-icon>
      </div>
        <p>Vielen Dank - Sie erhalten von uns eine Email mit den Einwahl-Daten. Sie benötigen dafür einen Computer/Smartphone mit 
          Internet-Zugang sowie einer Kamera / Webcam. 
        </p>
        <p>
          Bitte beachten Sie: Falls Sie den Termin nicht wahrnehmen können, sagen Sie diesen bitte bequem über ihr myFFA Konto oder den Link in Ihrer Bestätigungs-Mail ab. 
        </p>

        <div>
          <button mat-stroked-button (click)="closeModal()">Schließen</button>
        </div>
    </div>

    <div class="" *ngIf="finalForm.get('initiated').value != 'success'" >

        <p>Etwas ist leider schief gelaufen - bitte gehen Sie zurück und wählen einen alternativen Termin aus oder rufen Sie uns an.</p>

        <div>
          <button mat-stroked-button matStepperPrevious>Zurück</button>
          <button mat-stroked-button (click)="closeModal()">Abbrechen</button>
        </div>
    </div>

  </mat-step>

  


</mat-vertical-stepper>


