

<div class="tele-slot-edit">

        <h3>Slot Video-Konsultation</h3>

        <p>
            Bearbeiten des Video-Slots.
        </p>
       
        <form [formGroup]="slotForm" class="med-itm">

            <mat-form-field class="doc">
                <mat-label>Arzt</mat-label>
                <mat-select  required 
                formControlName="userId"
                fxLayout="row">
                    <mat-option *ngFor="let doc of availableDocs" [value]="doc._id"  >
                    {{doc.userName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="slotForm.get('userId').hasError('required')"  >Bitte wählen Sie einen Arzt</mat-error>
            </mat-form-field>

            <mat-form-field class="dayId">
                <mat-label>Wochentag</mat-label>
                <mat-select  required 
                formControlName="dayId"
                fxLayout="row">
                    <mat-option *ngFor="let d of days" [value]="d.dayId"  >
                    {{d.dayName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="slotForm.get('dayId').hasError('required')"  >Bitte wählen Sie einen Arzt</mat-error>
            </mat-form-field>

            <mat-form-field  class="time">
                <input required matInput type="time" placeholder="Start" formControlName="startTime" >
            </mat-form-field>
            <mat-form-field  class="time">
                <input  required matInput type="time" placeholder="Ende"  formControlName="endTime">
            </mat-form-field>

            <div class="exceptions-container">

                <div class="exceptions-header">
    
                    <p>
                        Ausnahmen - für folgende Zeiträume ist dieser Slot nicht verfügbar (gilt nicht rückwirkend für bestehende Termine)
                    </p>
    
                    <button  class="addBtn" mat-button mat-stroked-button (click)="createException()">
                        <mat-icon>add</mat-icon> Neue Ausnahme
                    </button>
    
                </div>
    
                <div class="exceptions" *ngIf="slotForm.get('exceptions').value.length > 0">
                    <ng-container formArrayName="exceptions">
                        <div class="exception-item" *ngFor="let excp of exceptions.controls; let i = index;">
                            <ng-container [formGroupName]="i">
                                <button  class="removeBtn" mat-icon-button (click)="removeException(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            
                                <mat-form-field>
                                    <input matInput 
                                        [max]="slotForm.get('exceptions').value[i].end || maxDate"
                                        placeholder="Start-Datum" 
                                        [matDatepicker]="pickerStart" 
                                        formControlName="start" 
                                        class="form-control" 
                                        readonly>
                                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                                    <mat-datepicker touchUi #pickerStart ></mat-datepicker>
                                </mat-form-field>
                                -
                                <mat-form-field>
                                    <input 
                                        matInput 
                                        [min]="slotForm.get('exceptions').value[i].start || todayDate"
                                        placeholder="End-Datum" 
                                        [matDatepicker]="pickerEnd" 
                                        formControlName="end" 
                                        class="form-control" 
                                        readonly>
                                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                                    <mat-datepicker touchUi #pickerEnd ></mat-datepicker>
                                </mat-form-field>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
    
            </div>
          
        </form>

       


        <div class="menu-row">
    
            <button  class="saveBtn" mat-button (click)="abort()">
                Abbruch
            </button>

            <button  class="saveBtn" mat-button (click)="confirm()" [disabled]="slotForm.invalid || !validateSlotTimes()">
                OK
            </button>

        </div>
    </div>
    
    