.news-item{
    img{
        max-width: 100%;
        width: 100px;
        border-radius: 50%;
        height: 100px;
        object-fit: cover;
        margin-right: 20px;
    }

    .card-title{
        margin-top: 1rem;
    }

    .date{
        font-size: 12px;
        color: gray;
        margin-bottom: 1rem;
    }

    .head{
        display: flex;
        margin-bottom: 20px;
    }
}


app-newsdetail{
    max-height: 100vh;
    overflow: scroll;
}

.full-height-dialog{
    max-height : 100vh !important;
}

@media (max-width: 1100px){
    .news-item{
        flex-direction: column;
        align-items: center;
    }
}
