<header  class="header">
    <div class="header-content small" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                    </div>
                </div> 
            </div> 
        </div> 
    </div> 
</header> 

<div class="admin-container container">
    <h1>
        Wartung der Website
    </h1>

    <mat-tab-group (selectedTabChange)="handleTabClick($event)">

        <mat-tab label="Leistungen" *ngIf="false"> 
            <div class="service">
                <div class="srv-itm" *ngFor="let s of services; let i=index;">
                    <div class="media-bullet"> <i [class]="s.icon"></i></div>
                    <div class="media-body"><strong>{{s.name}}</strong></div>
                </div>
            </div>
        </mat-tab>
        
        <mat-tab label="Team"  > 
            <ng-template matTabContent>

                <div class="teamList">

                    <div class="member" *ngFor="let m of teamMembers;">
                        
                        <div class="avatar">
                            <div class="pic">
                                <img [src]="m.picture">
                                <label>
                                    <mat-icon>edit</mat-icon>
                                    <input class="teammember-pic-upload" type="file"  (change)="handleTeamFileInput($event.target.files, m)">
                                </label>
                                
                            </div> 

                        
                            

                            <p>
                                <mat-checkbox [(ngModel)]="m.flagActive" (ngModelChange)="updateTeamMember(m)" >Aktiv?</mat-checkbox>
                            </p>
                            <p>
                                <button (click)="deleteMember(m)" mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </p>
                            
                        </div>
                        <div class="text">
                            <mat-form-field >
                                <input [(ngModel)]="m.name"  (ngModelChange)="handleUpdateTeamMember(m, $event)" matInput type="text" placeholder="Name"  required>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Gattung</mat-label>
                                <mat-select [(ngModel)]="m.type"  required (ngModelChange)="handleUpdateTeamMember(m, $event)">
                                    <mat-option value="doc">
                                        doc
                                    </mat-option>
                                    <mat-option value="mfa">
                                        mfa
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field >
                                <input [(ngModel)]="m.role" (ngModelChange)="handleUpdateTeamMember(m, $event)"  matInput type="text" placeholder="Rolle"  >
                            </mat-form-field>

                            <mat-form-field >
                                <textarea [(ngModel)]="m.description" (ngModelChange)="handleUpdateTeamMember(m, $event)"  matInput type="text" placeholder="Beschreibung"  ></textarea>
                            </mat-form-field>
                        </div> 
                    </div>
                    <div class="headline">
                        <h2>
                            Neues Team-Mitglied
                        </h2>
                    </div>
                    <div class="new member">

                        <div  class="avatar">
                            <img [src]="newTeamMemberFileStr" *ngIf="newTeamMemberFileStr">
                            
                        </div>
                        <div class="text">
                            <mat-form-field >
                                <input [(ngModel)]="newTeamMember.name"   matInput type="text" placeholder="Name"  required>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Gattung</mat-label>
                                <mat-select [(ngModel)]="newTeamMember.type" required >
                                    <mat-option value="doc">
                                        doc
                                    </mat-option>
                                    <mat-option value="mfa">
                                        mfa
                                    </mat-option>
                                </mat-select>    
                            </mat-form-field>

                            <mat-form-field >
                                <input [(ngModel)]="newTeamMember.role"  matInput type="text" placeholder="Rolle"  >
                            </mat-form-field>

                            <mat-form-field >
                                <textarea [(ngModel)]="newTeamMember.description" matInput type="text" placeholder="Beschreibung"  ></textarea>
                            </mat-form-field>
                            
                            <input class="teammember-pic-upload" type="file" placeholder="Bild hochladen" (change)="handleFileInput($event.target.files)">
                            
                            <button (click)="addMember()" mat-button color="secondary">
                                <mat-icon>add</mat-icon>
                            </button>
                        
                        </div>

                    </div>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Sprechzeiten"> 
                <div class="timesList">
                    <div class="day" *ngFor="let d of times; let i=index;" [class.edit]="timesDayEditIdx == i">                      
                        <div class="card-body" >
                            <h3 class="card-title">
                                <button class="editBtn" mat-button  matSuffix mat-icon-button aria-label="Clear" (click)="editOpenHrs(d,i)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                
                                {{d.day}}
                                
                            </h3> 
                            <div class="slot">
                                <mat-form-field  class="time">
                                    <input  [readonly]="timesDayEditIdx != i" [(ngModel)]="d.vomiStart"  matInput type="time" placeholder="Start" >
                                    <button  mat-button *ngIf="d.vomiStart && timesDayEditIdx == i" matSuffix mat-icon-button aria-label="Clear" (click)="d.vomiStart=null">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                                - 
                                <mat-form-field  class="time">
                                    <input   [readonly]="timesDayEditIdx != i" [(ngModel)]="d.vomiEnd"  matInput type="time" placeholder="Ende" >
                                    <button mat-button *ngIf="d.vomiEnd && timesDayEditIdx == i" matSuffix mat-icon-button aria-label="Clear" (click)="d.vomiEnd=null">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>

                                <button *ngIf="timesDayEditIdx == i" mat-button  matSuffix mat-icon-button aria-label="Clear" (click)="removeHrs(d, true)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                               
                            </div>
                           
                            <div class="slot">
                                <mat-form-field  class="time">
                                    <input   [readonly]="timesDayEditIdx != i" [(ngModel)]="d.namiStart"  matInput type="time" placeholder="Start" >
                                    <button mat-button *ngIf="d.namiStart  && timesDayEditIdx == i" matSuffix mat-icon-button aria-label="Clear" (click)="d.namiStart=null">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>

                                - 
                                <mat-form-field  class="time">
                                    <input [readonly]="timesDayEditIdx != i" [(ngModel)]="d.namiEnd"  matInput type="time" placeholder="Ende" >
                                    <button  mat-button *ngIf="d.namiEnd && timesDayEditIdx == i" matSuffix mat-icon-button aria-label="Clear" (click)="d.namiEnd=null">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                </mat-form-field>
                               
                                <button *ngIf="timesDayEditIdx == i" mat-button  matSuffix mat-icon-button aria-label="Clear" (click)="removeHrs(d, false)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>

                            <div *ngIf="timesDayEditIdx == i">
                                <button  class="saveBtn" mat-button mat-stroked-button (click)="updateOpenHrs(d)">
                                    <mat-icon>save</mat-icon>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>    
        </mat-tab>

        <mat-tab label="Urlaubszeiten" >

            <div class="addBtn-row">
                <button  class="addBtn" mat-button mat-stroked-button (click)="addNewVacation()">
                    <mat-icon>add</mat-icon> Neu
                </button>
            </div>


            <mat-accordion  class="vacation">
                <mat-expansion-panel *ngFor="let vac of vacation; let i=index;">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{vac.title}} <span *ngIf="!vac.title">Neuer Eintrag</span>
                    </mat-panel-title>
                    <mat-panel-description>
                       ab {{vac.vacationStart| date:'MMM d, y'}}
                    </mat-panel-description>
                    </mat-expansion-panel-header>
                    
                    <div class="vacation-container">

                        <mat-form-field>
                            <mat-label>Start</mat-label>
                            <input  disabled  [(ngModel)]="vac.vacationStart" matInput [matDatepicker]="pickerStart">
                            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                            <mat-datepicker disabled="false" #pickerStart></mat-datepicker>
                        </mat-form-field>
                        
                        <mat-form-field>
                            <mat-label>Ende</mat-label>
                            <input disabled [min]="vac.vacationStart"  [(ngModel)]="vac.vacationEnd" matInput [matDatepicker]="pickerEnd">
                            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                            <mat-datepicker disabled="false" #pickerEnd></mat-datepicker>
                        </mat-form-field>
                        
                        <mat-form-field >
                            <input [(ngModel)]="vac.title"  matInput type="text" placeholder="Titel" >
                        </mat-form-field>

                    </div>

                    <div class="substitutes">

                        <h4>vertretende Kollegen*innen</h4>

                        <div class="new">
                            <mat-form-field class="field">
                                <mat-label>Name</mat-label>
                                <input [(ngModel)]="newSub.name" matInput type="text">
                            </mat-form-field>

                            <mat-form-field class="field">
                                <mat-label>Adresse</mat-label>
                                <input [(ngModel)]="newSub.address" matInput type="text">
                            </mat-form-field>

                            <mat-form-field class="field">
                                <mat-label>Tel</mat-label>
                                <input [(ngModel)]="newSub.phone" matInput type="tel">
                            </mat-form-field>

                            <button (click)="addSubstitute(vac)"   mat-button mat-icon-only matSuffix >
                                <mat-icon>add</mat-icon>
                            </button>

                        </div>

                        <div class="subs" *ngFor="let s of vac.subs; let i=index;">

                            <p>{{s.name}} (<mat-icon class="detail-icon">location_on</mat-icon> {{s.address}} /  <mat-icon class="detail-icon">call</mat-icon> {{s.phone}})
                                <button (click)="removeSub(vac, s)"  mat-button mat-icon-only matSuffix >
                                    <mat-icon>delete</mat-icon>
                                </button> 
                            </p>

                        </div>

                    </div>
                    <div>
                        <button  class="saveBtn" mat-button matSuffix mat-stroked-button (click)="saveVacation(vac)">
                            <mat-icon>save</mat-icon> Speichern
                        </button>

                        <button  class="saveBtn" mat-button matSuffix mat-stroked-button (click)="copyVacation(vac)">
                            <mat-icon>file_copy</mat-icon> Kopieren
                        </button>

                        
                        <button (click)="deleteVacation(vac)"  mat-button matSuffix mat-stroked-button >
                            <mat-icon>delete</mat-icon> Löschen
                        </button>
                    </div>

                </mat-expansion-panel>


                
            </mat-accordion>  

            

        </mat-tab>

        <mat-tab label="Praxisnews"> 
            <div class="addBtn-row">
                <button class="addBtn" mat-button mat-stroked-button (click)="addNewNews()">
                    <mat-icon>add</mat-icon> Neu
                </button>
            </div>

            <mat-accordion>
                <mat-expansion-panel *ngFor="let n of news; let i=index;">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{n.header}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{n.date | date:'MMM d, y'}}
                    </mat-panel-description>
                    </mat-expansion-panel-header>
                    
                    <div class="news-container">

                        <img *ngIf="n.image" [src]="n.image">

                        <button *ngIf="newNewsImageFile || n.image" class="remove-newsimage-btn" mat-stroked-button color="primary" (click)="removeUploadImage(n)">
                            <mat-icon>delete</mat-icon> Bild löschen
                        </button>
                       
                        <input  *ngIf="!newNewsImageFile && !n.image" class="newsimage-pic-upload" type="file" placeholder="Bild hochladen" (change)="handleNewsFileUpload(n, $event.target.files)">
                        

                        
                        <mat-form-field>
                            <mat-label>Datum</mat-label>
                            <input disabled  [(ngModel)]="n.date" matInput [matDatepicker]="newsDatePicker">
                            <mat-datepicker-toggle matSuffix [for]="newsDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker disabled="false" #newsDatePicker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field >
                            <input [(ngModel)]="n.header"  matInput type="text" placeholder="Header" >
                        </mat-form-field>

                        <mat-form-field >
                            <input [(ngModel)]="n.title"  matInput type="text" placeholder="Titel" >
                        </mat-form-field>

                        <mat-checkbox [(ngModel)]="n.published">öffentlich?</mat-checkbox>

                        <ejs-richtexteditor [toolbarSettings]='tools' [(value)]="n.text"  [(ngModel)]="n.text">
                        </ejs-richtexteditor>

                       
                    </div>
                    <div>
                        <button  class="saveBtn" matSuffix mat-stroked-button (click)="saveNews(n)">
                            <mat-icon>save</mat-icon> Speichern
                        </button>

                        <button (click)="deleteNews(n, i)"   matSuffix mat-stroked-button >
                            <mat-icon>delete</mat-icon> Löschen
                        </button>
                    </div>

                </mat-expansion-panel>

            </mat-accordion>   
            
            
        </mat-tab>

        <mat-tab label="Benutzer" class="user-list" style="margin:10px"> 

            <div class="new-user">

                <form class="add">
                    <mat-form-field >
                        <mat-label>Nutzername</mat-label>
                        <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                                placeholder="nutzer@test.de">
                        <mat-hint>Email-Adresse</mat-hint>
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        ungültige eMail-Adresse
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email wird benötigt
                        </mat-error>
                    </mat-form-field>
                </form>

                <button mat-button (click)="preregisterUser()">Zufügen</button>

            </div>
            
            <div class="user" *ngFor="let user of users; let i=index;">

                {{user.userName}}

                <mat-chip-list #chipList aria-label="Rolle">
                    <mat-chip
                        *ngFor="let scope of user.scopes; let i=index;"
                        [selectable]="selectable"
                        [removable]="removable"
                        (removed)="removeScope(user, i)">
                        {{scope}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input
                        placeholder="Neuer Scope..."
                        #scopeInput
                        [formControl]="scopeCtrl"
                        [matAutocomplete]="auto"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="initAddScope($event, user)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="handleScopeSelected($event, user, scopeInput)">
                    <mat-option *ngFor="let s of _filteredScopes | async" [value]="s">
                        {{s}}
                    </mat-option>
                </mat-autocomplete>
            </div>
        </mat-tab>

        <mat-tab label="Telemedizin"  style="margin:10px" >

            <div class="addBtn-row">
                <button  class="addBtn" mat-stroked-button (click)="openTeleSlot()">
                    <mat-icon>add</mat-icon> Neu
                </button>
            </div>
            
            <mwl-calendar-week-view
                class="teleSlotCal"
                [excludeDays]="excludeDays"
                [viewDate]="viewDate"
                [events]="teleSlots"
                [dayStartHour]="7"
                [dayEndHour]="19"
                [hourSegments]="2"
                (click)="openTeleSlot()"
                (eventClicked)="openTeleSlot($event.event)"
            >
            </mwl-calendar-week-view>
        
        </mat-tab>

        <mat-tab label="Allgemein" >
            <div class="general settings-tab" *ngIf="settingsObj">

                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                    Popup bei Seitenöffnung
                            </mat-panel-title>
                            <mat-panel-description>
                                
                                <mat-icon>settings_overscan</mat-icon>

                            </mat-panel-description>
                        </mat-expansion-panel-header>

                            <div class="settings-content">
                                <div class="popup-settings">
                                    <div>
                                        <mat-form-field>
                                            <input matInput placeholder="Datum" [matDatepicker]="popupDatePicker" [(ngModel)]="settingsObj.popup.date" readonly>
                                            <mat-datepicker-toggle matSuffix [for]="popupDatePicker"></mat-datepicker-toggle>
                                            <mat-datepicker touchUi #popupDatePicker ></mat-datepicker>
                                        </mat-form-field>
            
                                        <mat-form-field class="field">
                                            <mat-label>Header</mat-label>
                                            <input [(ngModel)]="settingsObj.popup.header" matInput type="text">
                                        </mat-form-field>
                                    </div>
                                
                                    <div>
                                        <ejs-richtexteditor class="popup-text" [toolbarSettings]='tools' [(value)]="settingsObj.popup.text"  [(ngModel)]="settingsObj.popup.text">
                                            </ejs-richtexteditor>
                                    </div>

                                    <p>
                                        <mat-checkbox [(ngModel)]="settingsObj.popup.flagActive" >Aktiv?</mat-checkbox>
                                    </p>

                                </div>
                            </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                    Globales Announcement (Pre-Header)
                            </mat-panel-title>
                            <mat-panel-description>
                                
                                <mat-icon>settings_overscan</mat-icon>

                            </mat-panel-description>
                        </mat-expansion-panel-header>
    
                        <div class="settings-content">
                            <div class="global-announcement-settings">
                                <div>
                                   
                                    <mat-form-field class="field">
                                        <mat-label>Icon (z.B. videocam)</mat-label>
                                        <input [(ngModel)]="settingsObj.globalAnnouncement.icon" matInput type="text">
                                        <mat-hint><a href="https://material.io/resources/icons/?icon=settings_overscan&style=baseline">Iconlist</a></mat-hint>
                                    </mat-form-field>

                                    

                                    <mat-icon>{{settingsObj.globalAnnouncement.icon}}</mat-icon>
                                </div>
                               
                                <div>
                                    <ejs-richtexteditor class="global-announcement-text" [toolbarSettings]='tools' [(value)]="settingsObj.globalAnnouncement.text"  [(ngModel)]="settingsObj.globalAnnouncement.text">
                                        </ejs-richtexteditor>
                                </div>
    
                                <p>
                                    <mat-checkbox [(ngModel)]="settingsObj.globalAnnouncement.flagActive" >Aktiv?</mat-checkbox>
                                </p>
    
                            </div>
                        </div>
    
                    </mat-expansion-panel>
                
                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Impressum
                            </mat-panel-title>
                            <mat-panel-description>
                                
                                <mat-icon>info</mat-icon>

                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="field">
                            <ejs-richtexteditor [toolbarSettings]='tools' [(value)]="settingsObj.imprint"  [(ngModel)]="settingsObj.imprint">
                            </ejs-richtexteditor>
                        </div>

                    </mat-expansion-panel>

                    <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                        Datenschutz
                                </mat-panel-title>
                                <mat-panel-description>
                                    
                                    <mat-icon>lock</mat-icon>

                                </mat-panel-description>
                            </mat-expansion-panel-header>

                        <div class="settings-content">
                            <ejs-richtexteditor [toolbarSettings]='tools' [(value)]="settingsObj.datapriv"  [(ngModel)]="settingsObj.datapriv">
                                </ejs-richtexteditor>
                        </div>

                    </mat-expansion-panel>

                </mat-accordion>

                <div class="foot">
                    <button class="btn" (click)="saveSettings()" mat-stroked-button aria-label="Store the settings object">
                        <mat-icon>save</mat-icon> Speichern
                    </button>
                </div>
            </div>
          </mat-tab>

          <mat-tab label="Konfiguration" >
              <div class="general config-tab" *ngIf="configObj">

                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                    Telemedizin
                            </mat-panel-title>
                            <mat-panel-description>
                                
                                <mat-icon>settings_overscan</mat-icon>

                            </mat-panel-description>
                        </mat-expansion-panel-header>

                            <div class="config-content">
                                <div class="config-settings">
                                    <mat-form-field>
                                        <mat-label>Anzahl Tage Vorlauf zum ersten freien Termin</mat-label>
                                        <input [(ngModel)]="configObj.tele.daysInAdvance" matInput type="number" required>
                                    </mat-form-field>
                                </div>

                                <div>
                                    <p>
                                        <mat-checkbox [(ngModel)]="configObj.tele.flagIncludeWeekends" >Wochenenden inkludieren?</mat-checkbox>
                                    </p>
                                </div>
                            </div>
                    </mat-expansion-panel>

                </mat-accordion>

                <div class="foot">
                    <button class="btn" (click)="saveConfig()" mat-stroked-button aria-label="Store the config object">
                        <mat-icon>save</mat-icon> Speichern
                    </button>
                </div>

              </div>
          </mat-tab>


    </mat-tab-group>               
</div>
