<header  class="header">
    <div class="header-content small">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                    </div>
                </div> 
            </div> 
        </div> 
    </div> 
</header> 

<div class="ex-basic-2">
    <div class="container">
        <h1>Impressum</h1>
        <div class="row" *ngIf="settingsObj">
            
            <div class="imprint-body" [innerHtml]="sanText(settingsObj.imprint)">

            </div>
        </div> 
    </div>
</div> 