<header  class="header">
    <div class="header-content small">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                    </div>
                </div> 
            </div> 
        </div> 
    </div> 
</header> 



<div class="container">
        <h1>
            myFFA
        </h1>
    
        <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="tabChanged($event)">
    
            <mat-tab label="Profil" > 
                <div class="content profile" *ngIf="currentUser">
                    <div class="content-header">
                        <button mat-button matSuffix mat-stroked-button  (click)="updateUser()" >Speichern</button>    
                    </div>
                    
                    <form id="profileForm"  FormGroupDirective >

                        <div class="form-group">
                            <mat-form-field class="login-forms">
                                <input required matInput type="text" placeholder="eMail" class="form-control" readonly [(ngModel)]="currentUser.userName" [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field class="login-forms">
                                <input required matInput type="text" placeholder="Name" class="form-control" [(ngModel)]="currentUser.name" [ngModelOptions]="{standalone: true}">
                                <mat-error  *ngIf="currentUser.name" >Bitte Namen eintragen.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field class="login-forms">
                                <input required matInput type="number" placeholder="Telefonnummer" class="form-control" [(ngModel)]="currentUser.patientMobilePhone" [ngModelOptions]="{standalone: true}">
                                <mat-error  *ngIf="currentUser.patientMobilePhone" >Bitte Telefonnummer eintragen.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field>
                                <input matInput placeholder="Geburtsdatum" [matDatepicker]="picker" [(ngModel)]="currentUser.birthdate" [ngModelOptions]="{standalone: true}" readonly class="form-control">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        
                    </form>
                </div>
            </mat-tab>
            <mat-tab label="Termine" >
                <div class="appointments">
                        <div class="content-header ">
                            <button class="newBtn" mat-button matSuffix mat-stroked-button (click)="newTeleAppointment()" >
                                Neuer Video-Termin
                            </button>
        
                            <mat-slide-toggle [(ngModel)]="flagIncludePast" (ngModelChange)="getMyAppointments()" class="toggle-previous-app">vergangene anzeigen</mat-slide-toggle>
        
                        </div>
        
                        <div class="" *ngIf="!myAppointments" >
                                Sie haben noch keine Termine - klicken Sie auf das "+", um einen neuen Termin zu vereinbaren.
                        </div>
        
                        <div class="content appointments" *ngIf="myAppointments">
        
                            <mat-accordion>
                                <mat-expansion-panel *ngFor="let app of myAppointments; let i=index;" class="appointment-item" [class.removed]="app.inactive" [expanded]="i==0">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{app.appointmentObj.start  | date:'longDate':'de'}} {{app.appointmentObj.start  | date:'shortTime':'de'}}
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            {{app.appointmentType.name}} 
                                            
                                            <span *ngIf="app.tele">(Video)</span>
                                            <mat-icon *ngIf="app.tele">videocam</mat-icon>
    
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
    
                                <div class="app-content">
                                                                                    
                                        <div class="form-group">
                                            <mat-form-field >
                                                <input required matInput type="text" placeholder="Arzt" class="form-control" [ngModel]="app.doc.userName" readonly>
                                            </mat-form-field>
                                        </div>
                                
                                        <div class="form-group">
                                            <mat-form-field >
                                                <textarea required matInput type="text" placeholder="Details" class="form-control" [ngModel]="app.appointmentNotes" readonly></textarea>
                                            </mat-form-field>
                                        </div>
    
                                        <div class="form-group" *ngIf="!app.inactive">
                                            Patienten-Code: {{app.tele.patientCode}}
                                        </div>
    
                                        <div class="info">
                                            Wir verwenden mit RED-Medical einen zertifizierten Anbieter für Videosprechstunden. Näheres erfahren Sie <a href="https://www.redmedical.de/" target="_blank" >hier</a>.
                                        </div>
    
                                        <div>
                                            <button *ngIf="app.inactive" class="saveBtn" mat-button matSuffix mat-stroked-button color="warn">
                                                gelöscht
                                            </button>
    
                                            <button *ngIf="!app.inactive" [disabled]="!canDelete(app)" class="saveBtn" mat-button matSuffix mat-stroked-button color="warn" (click)="removeTeleAppointment(app)" >
                                                Termin löschen
                                            </button>
    
                                            <button class="saveBtn floatright" [disabled]="app.inactive" mat-button matSuffix mat-stroked-button (click)="openTeleAppointment(app)" *ngIf="app.tele">
                                                Beratung starten
                                            </button>
                    
                                        </div>
    
                                </div>
    
                                </mat-expansion-panel>
                            </mat-accordion>
        
                        </div>
                </div>
                

            </mat-tab>
            <mat-tab label="Rezeptanfragen" >

                <div class="prescriptions">
                    <div class="content-header ">
                        <button class="newBtn" mat-button matSuffix mat-stroked-button (click)="newPrescriptionRequest()" >
                            Neue Rezeptanfrage
                        </button> 
                    </div>
    
                    <div class="no-data" *ngIf="myPrescriptionRequests.length < 1" >
                            Sie haben noch keine Termine - klicken Sie auf das "+", um einen neuen Termin zu vereinbaren.
                    </div>
    
                    <div class="content prescriptions" *ngIf="myPrescriptionRequests.length > 0">
    
                        <mat-accordion>
                            <mat-expansion-panel *ngFor="let preq of myPrescriptionRequests; let i=index;" class="prescriptions-item">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{preq.sendDate  | date:'longDate':'de'}} <span class="prescription-time">{{preq.sendDate | date:'shortTime':'de'}}</span>
                                    </mat-panel-title>
                                    <mat-panel-description>

                                        <span class="medis-list">{{getListMedis(preq)}} </span>
                                        
                                        <span *ngIf="preq.flagCollectFromPractice">
                                            (Praxisabholung)
                                        </span>
                                        <mat-icon *ngIf="preq.flagCollectFromPractice">local_hospital</mat-icon>
                                        

                                        <span *ngIf="!preq.flagCollectFromPractice">
                                            (Apotheke)
                                        </span>
                                        <mat-icon *ngIf="!preq.flagCollectFromPractice">add_location</mat-icon>

                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                            <div class="prescriptions-content">
                                                                                
                                    <div class="form-group" *ngIf="!preq.flagCollectFromPractice">
                                        <mat-form-field >
                                            <input required matInput type="text" placeholder="Apotheken-Abholung" class="form-control" [ngModel]="preq.collectDrugStore" readonly>
                                        </mat-form-field>
                                    </div>

                                    <div class="medications-table-mobile" *ngFor="let m of preq.medications; let i=index;">
                                        <div class="name">
                                            {{m.name}}
                                        </div>
                                        <div class="details">
                                            {{m.substance}} | {{m.amount}} | {{m.dose}} | {{m.dosageform}}
                                        </div>
                                    </div>
                            
                                    <table mat-table [dataSource]="preq.medications" class="medication-table">
                                        
                                        <ng-container matColumnDef="name">
                                            <th mat-header-cell *matHeaderCellDef> Name </th>
                                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                        </ng-container>
                                        
                                        <ng-container matColumnDef="amount">
                                            <th mat-header-cell *matHeaderCellDef> Anz. </th>
                                            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                                        </ng-container>
                                        
                                        <ng-container matColumnDef="substance">
                                            <th mat-header-cell *matHeaderCellDef> Wirkstoff </th>
                                            <td mat-cell *matCellDef="let element"> {{element.substance}} </td>
                                        </ng-container>
                                        
                                        <ng-container matColumnDef="dose">
                                            <th mat-header-cell *matHeaderCellDef> Dosis </th>
                                            <td mat-cell *matCellDef="let element"> {{element.dose}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="pzn">
                                            <th mat-header-cell *matHeaderCellDef> PZN </th>
                                            <td mat-cell *matCellDef="let element"> {{element.pzn}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="dosageform">
                                            <th mat-header-cell *matHeaderCellDef> Darreichungsform </th>
                                            <td mat-cell *matCellDef="let element"> {{element.dosageform}} </td>
                                        </ng-container>
                                        
                                        <tr mat-header-row *matHeaderRowDef="mediDisplayColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: mediDisplayColumns;"></tr>
                                    </table>
                                        

                                    <div class="buttons">
                                       
                                        <button class="saveBtn floatright"  mat-button matSuffix mat-stroked-button (click)="newPrescriptionRequest(preq)">
                                            Erneut anfordern
                                        </button>
                
                                    </div>

                            </div>

                            </mat-expansion-panel>
                        </mat-accordion>
    
                    </div>
                </div>

            </mat-tab>

            <mat-tab label="Einstellungen" *ngIf="false" >

                <mat-accordion>
                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Benachrichtigungen
                            </mat-panel-title>
                            <mat-panel-description>
                                
                                <mat-icon>notification_important</mat-icon>

                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="settings-content">

                        </div>

                    </mat-expansion-panel>

                    <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Benachrichtigungen
                                </mat-panel-title>
                                <mat-panel-description>
                                    
                                    <mat-icon>notification_important</mat-icon>

                                </mat-panel-description>
                            </mat-expansion-panel-header>

                        <div class="settings-content">

                        </div>

                    </mat-expansion-panel>

                </mat-accordion>

            </mat-tab>

    </mat-tab-group>

</div>