@import "../../../variables.scss";


.mat-form-field{
    min-width: 250px;
}

.form-group{
    margin: 0;
}


.mat-tab-body{
    padding: 20px;
}

.mat-tab-body-content{
    padding: 5px;
}

.mat-expansion-panel-header-description{
    justify-content: space-between;
}

.profile,
.appointments{
    .content-header{
        padding: 10px;  
    }
}

@media(max-width: 1100px){
    .appointments{
        .content-header{
            display: inline-block;
            margin-bottom: 20px;

            .newBtn{
                margin-bottom: 10px;
            }


            .toggle-previous-app{
                float: left;
            }
        }

        .mat-expansion-panel-header-description{
            display: none;
        }
    }
}

.appointments{

    .toggle-previous-app{
        float: right;
    }
    .appointment-item.removed{
        background-color: #eeeeee;
    }
}
.app-content{
    .floatright{
        float: right;
    }

    .info{
        margin-bottom: 10px;
        font-size: 12px;
        color: gray;
    }
}
