@import "../../../variables.scss";

.form-group{
    margin-bottom: 0.25rem;
}

 
#login{
    // background-color: #ebebf0;
}

.log-container{
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    mat-form-field{
        width: 100%;
    }

    form{
        width: 100%;
    }

    .log{
        background-color: $background_nav;
        padding: 20px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border-radius: 4px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        
    }

}

@media (min-width: 1101px){
    .log{
        min-width: 400px;
    }
}

@media (max-width: 1100px) {
    .log{
        width: 100vw;
        padding: 5px;
    }
}

.submit-btn{
    width: 100%;
    color: white;
}

.submit-btn.small{
    font-size: 10px;
}

#loginForm, 
#forgotPassword,
#registerForm, 
#welcomeNewUser{
    overflow:hidden;
    max-height: 0px;
    opacity: 0; 
}

#welcomeNewUser{
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    max-width: 350px;

    .success-icon{
        text-align: center;
        color: green;
    }

    .icn{
        height: 50px;
        width: 50px;
        font-size: 50px;
    }

    p, h2{
        margin-top: 15px;
    }

    .submit-btn{
        color: $background_nav;
    }
}

.seperator{
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

#registerForm.show,
#loginForm.show,
#forgotPassword.show, 
#welcomeNewUser.show
{
    padding: 20px;
    max-height: 5000px; 
    transition: 0.5s;
    opacity: 1;
}

.login-form{

    a{
        color: $primary;
    }

    .mat-checkbox-frame {
        border-color: $background_light;
    }

    .mat-checkbox-label{
        white-space: normal;
        max-width: 350px;
        color: white;
    }

    .mat-select-value, 
    .mat-select-arrow{
        color: $background_light;
    }

    .mat-input-element {
        caret-color: $background_dark;
        color: $background_light;
    }

    .mat-form-field-appearance-legacy .mat-form-field-label{
        color: $background_light;
    }

    .mat-form-field-underline {
        background-color: $background_light;
      }

      .mat-form-field.mat-focused {
          .mat-form-field-label{
            color: $secondary;
          }

          .mat-input-element {
            color: $background_dark;
        }

          .mat-form-field-ripple{
            background-color: $secondary;
          }
      }
    
}
