<div class="appointment-details" *ngIf="appointmentObj">

        <h4>Termindetails:</h4>

        <p class="datetime-slot">
            {{appointmentObj.start | date:'longDate':'de'}} <br/><br/>
            
            {{appointmentObj.start | date:'shortTime':'de'}} - {{appointmentObj.end | date:'shortTime':'de'}}
        </p>

        <div class="form-group">
            <mat-form-field >
                <input  matInput type="text" placeholder="Name" class="form-control" [ngModel]="appointmentObj.patientName" readonly>
                <mat-hint class="hint" >{{appointmentObj.patientEmail}}</mat-hint>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field >
                <input  matInput type="text" placeholder="Anfrageart" class="form-control" [ngModel]="appointmentObj.appointmentType.name" readonly>
            </mat-form-field>
        </div>

        
        <div class="form-group">
            <mat-form-field >
                <input  matInput type="text" placeholder="Arzt" class="form-control" [ngModel]="appointmentObj.doc.userName" readonly>
            </mat-form-field>
        </div>

        <div class="form-group" *ngIf="appointmentObj.tele">
            <mat-form-field >
                <input  matInput type="text" placeholder="Arzt-Einwahl" class="form-control" [ngModel]="appointmentObj.tele.doctorCode" readonly>
                
                <mat-hint class="hint" (click)="copyUrl(appointmentObj.tele.dialInUrlDoc)" >
                    <mat-icon>file_copy</mat-icon>
                    <a href="javascript:void(null);">{{appointmentObj.tele.dialInUrlDoc}}</a>                 
                </mat-hint>

            </mat-form-field>
        </div>

        <div class="form-group"  *ngIf="appointmentObj.tele">
            <mat-form-field >
                <input  matInput type="text" placeholder="Patient-Code" class="form-control" [ngModel]="appointmentObj.tele.patientCode" readonly>
                <mat-hint class="hint" (click)="copyUrl(appointmentObj.tele.dialInUrlPatient)" >
                    <mat-icon>file_copy</mat-icon>
                    <a href="javascript:void(null);">{{appointmentObj.tele.dialInUrlPatient}}</a>                 
                </mat-hint>
            </mat-form-field>
        </div>


        <!--
        <div class="form-group">
            <mat-form-field>
                <textarea required matInput type="text" placeholder="Details" class="form-control " [ngModel]="baseInfoForm.value.appointmentNotes" readonly></textarea>
            </mat-form-field>
        </div>
        -->
        
        <br/>    


        <div class="actions">
            <button mat-stroked-button (click)="close()">Schließen</button>
            <button mat-stroked-button color="accent" [disabled]="appointmentObj.inactive || isHistoricAppointment" (click)="deleteAppointment()"><mat-icon>delete</mat-icon>Termin absagen</button>
            <button layout-align="end-start" [disabled]="appointmentObj.inactive || isHistoricAppointment" matSuffix mat-stroked-button (click)="handleInitTeleDialIn()" *ngIf="appointmentObj.tele">
                <mat-icon>videocam</mat-icon>Video-Termin öffnen
            </button>
        </div>
            

    </div>