<div class="edit-quote-dialog-container">

    <form id="requestForm"  FormGroupDirective  [formGroup]="quoteForm"  data-toggle="validator" data-focus="false">
        <mat-form-field>
            <mat-label>Zitat</mat-label>
            <textarea formControlName="quote" required type="text" matInput #messageObj maxlength="300" placeholder="Das Zitat"></textarea>
            <mat-hint class="hint" align="end">{{quoteForm.value.quote.length}} / 300</mat-hint>
        </mat-form-field>
    
        <mat-form-field >
            <input  formControlName="author"  matInput type="text" placeholder="Autor" class="form-control" required>
            <mat-error  *ngIf="quoteForm.get('author').hasError('required')" >Bitte Author eintragen.</mat-error>
        </mat-form-field>
    </form>

    <div class="buttons">

        <button mat-button (click)="close()">
            Schließen
        </button>
        <button mat-button (click)="save()" [disabled]="!quoteForm.valid">
            Speichern
        </button>

    </div>

</div>