@import "../variables.scss";

#global-announcement{
    min-height: 0;
    max-height: 0;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 199;
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    align-items: center;


    .ga-row{
        display: flex;
        align-items: center;
    }

    a{
        padding-left: 5px;
        padding-right: 5px;
        color: $background_nav;
        font-weight: 600;
    }

    .camera-icn{
        color: $background_nav;
    }
}

#global-announcement:hover{
    cursor: pointer;
    background-color: $primary;
}

.header-content.small{
    padding-top: 1rem;
    padding-bottom: 0rem;
}

#global-announcement .message{
    p{
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 1100px) {
    #global-announcement.show{
        max-height: 150px;
        // min-height: 150px;
    }

    #global-announcement{
        flex-direction: row;
        justify-content: center;
        .camera-icn{
            font-size: 30px;
            height: 30px;
        }

        .message{
            max-width: 70vw;
        }
    }
}

@media (min-width: 1101px) {
    #global-announcement.show{
        max-height: 50px;
        min-height: 50px;
    }

    #global-announcement{
        .camera-icn{
            font-size: 40px;
            height: 40px;
            margin-left: 30px;
        }
    }
}

.container{
    padding: 20px;
}

.full-height-dialog, 
.login-dialog{
    max-height : 100vh !important;
}

#globalLoader{
    z-index: 99999; 
    position: fixed; 
    width: 100vw;
    top: 0;
    left : 0;
}

.my:hover{
    cursor: pointer;
}

.nav-item{
    padding: 5px;
}

a:hover{
    cursor: pointer;
}

.navbar.globalAnnouncement{
    top: 50px;
}

nav{
    

    .hint-bar{
        opacity: 0;
        position: absolute;
        bottom: -20px;
        width: 100%;
        text-align: center;
        height: 20px;
        left: 0;
        transition: 0.2s;

        p{
            margin: 0;
        }
    }

    .announcement{
        margin: 0;
        padding: 5px;
        line-height: 20px;
    }

    @media (max-width: 1100px) {
        .announcement{
            span::after { 
                content: "\A"; 
                white-space: pre; 
            } 
        }
    }

    @media (min-width: 1101px) {
        .announcement{
            span::after { 
                content: ": "; 
                white-space: pre; 
            } 
        }
    }

    


    .hint-bar.closed,
    .hint-bar.closed p,
    .hint-bar.closed a{
        background-color: #691f21;
        color: white;
    }

    .hint-bar.open,
    .hint-bar.open p,
    .hint-bar.open a{
        background-color: #2b691f;
        color: white;
    }

}

.hint-bar.show{
    opacity: 1 !important;
}


.spinner-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    .message{
        line-height: 40px;
        min-width: 250px;
        text-align: center;
        margin-top: 200px;
        font-size: 40px;
        color: white;
        font-weight: 100;
    }
}

.spinner-wrapper.msg{
    background: rgba($background_nav, 0.8);
}

.generalmessage-dialog,
.dialog-popup,
.prescription-dialog,
.video-dialog{
    max-height: 100vh !important;
}


@media (max-width: 1100px) {
    .video-dialog{
        width: 100vw !important;
        max-width: 100vw !important;
        
        .mat-dialog-container{
            width: 100vw;
            padding: 0px;
        }
    }    
}

@media (min-width: 1100px) {
    .video-dialog{
        width: 90vw !important;
    }
}

.cc-revoke, .cc-window{
    z-index: 200;
}